h1{
    color:blue
}
h2{
    color:aqua;
    font-size:50px
}
p{
    color:brown;
    font-size:60px
}
ol{
    font-size:40px;
    color:bisque
}
.ars{
    text-align:center
}

.photo {
    display: block;
    width: 400px;
    margin: 0 auto;
}